name: Release and Publish

on:
  push:
    branches:
      - main

permissions:
  contents: write # To push tags and release notes
  issues: write # To comment on released issues
  pull-requests: write # To comment on released PRs
  packages: write # To publish to GitHub Packages

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for semantic-release

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"

      - name: Update npm
        run: npm install -g npm@latest

      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
